body{
    font-family: 'Fira Sans', sans-serif;color:rgb(0, 0, 0);
    background-color: aquamarine
}
ul {list-style-type: none;
    margin: 10;
    padding: 0;
    overflow: hidden;
    background-color: aqua
}
li {float: left;}
li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
li a:hover {background-color: rgb(0, 160, 235);}



